*, body{
    background-color: #000;
    font-family: C64 !important;
}

.main-container{
    margin: auto;
    position: relative;
}

.main-container canvas{
    position: absolute;
    top: 0;
    left: 0;
}